---
http_interactions:
- request:
    method: get
    uri: https://geocoder.cit.api.here.com/6.2/geocode.xml?additionaldata=Country2,1&app_code=<HERE_APP_CODE>&app_id=<HERE_APP_ID>&gen=9&language=en-US&searchtext=Abcdefg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Nlp-Irt:
      - '5502'
      X-Nlp-Log:
      - Z2NfYz0tIGdjX2w9LSBnY19tPWFk
      X-Nlp-Tid:
      - 2f747c34-bc45-4e2a-a3a2-31b5f5ccce59
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:Search xmlns:ns2="http://www.navteq.com/lbsp/Search-Search/4"><Response><MetaInfo><Timestamp>2016-09-08T22:12:01.564Z</Timestamp></MetaInfo></Response></ns2:Search>
  recorded_at: Thu, 08 Sep 2016 22:12:01 GMT
recorded_with: VCR 3.0.3
