---
http_interactions:
- request:
    method: get
    uri: https://geocoder.cit.api.here.com/6.2/geocode.xml?additionaldata=Country2,1&app_code=<HERE_APP_CODE>&app_id=<HERE_APP_ID>&gen=9&language=en-US&searchtext=Abcdefg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Nlp-Log:
      - Z2NfYz0tIGdjX2w9LSBnY19tPWFk
      X-Nlp-Tid:
      - 31f95ed6-7884-4e46-86b8-31a10c266ea2
      X-Nlp-Irt:
      - '734'
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:Search xmlns:ns2="http://www.navteq.com/lbsp/Search-Search/4"><Response><MetaInfo><Timestamp>2019-11-11T21:59:15.580Z</Timestamp></MetaInfo></Response></ns2:Search>
  recorded_at: Mon, 11 Nov 2019 22:03:24 GMT
recorded_with: VCR 5.0.0
